@font-face {
    font-family: Melodrama-Medium;
    src: url('../fonts/Melodrama-Medium.ttf');
}

@font-face {
    font-family: Melodrama-Medium-latin;
    src: url('../fonts/montserrat-v30-latin-700.ttf');
}


@font-face {
    font-family: Melodrama-regular;
    src: url('../fonts/montserrat-v30-latin-regular.ttf');
}

.feferenzen-section img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    object-fit: contain;
    max-width: 90px;
    transition: all 0.5s;
}

.feferenzen-section img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    cursor: pointer;
    scale: 1.5;
    transition: all 0.5s;
}

.partner-section img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all 0.5s;
}

.partner-section img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    transition: all 0.5s;
    cursor: pointer;
}

.partner-section h2 {
    letter-spacing: 8px;
}