@font-face {
    font-family: Melodrama-Medium;
    src: url('../fonts/Melodrama-Medium.ttf');
}

@font-face {
    font-family: Melodrama-Medium-latin;
    src: url('../fonts/montserrat-v30-latin-700.ttf');
}

@font-face {
    font-family: Melodrama-regular;
    src: url('../fonts/montserrat-v30-latin-regular.ttf');
}

body {
    transition: background-color ease-out .5s,
}

main {
    overflow: hidden;
    width: 100%;
}

body[theme="black"] {
    background-color: #000000;
}

body[theme="black"] .section {
    color: #fff;
}

body[theme="#D3D0C6"] {
    background-color: #D3D0C6;

}

body[theme="#D3D0C6"] .section {
    color: #101010;
}

body[theme="black"] {
    background-color: #000000;
    color: #fff;
}

.feferenzen-section img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    object-fit: contain;
    max-width: 90px;
    transition: all 0.5s;
}

.feferenzen-section img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    cursor: pointer;
    scale: 1.5;
    transition: all 0.5s;
}

.partner-section img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all 0.5s;
    cursor: pointer;
}

.partner-section img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    transition: all 0.5s;
    cursor: pointer;
}

.partner-section h2 {
    letter-spacing: 8px;
}

.showcase-heading {
    letter-spacing: 9px;
}

.show-case-custom-cursor {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    z-index: 50;
}


@media (max-width:850px) {
    .partner-card {
        flex-direction: column;
    }

    .darumlumus-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}